<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="myUserBean" class="com.hq.bean.UserBean"/>
	<bean id="car" class="com.hq.bean.CarFactoryBean">
		<property name="carInfo" value="法拉利,400,2000000"></property>
	</bean>
	<!--<bean id = "testA" class = "com.hq.bean.TestA">
		<constructor-arg index = "0" ref = "testB"/>
	</bean>
	<bean id = "testB" class = "com.hq.bean.TestB">
		<constructor-arg index="0" ref = "testC"/>
	</bean>
	<bean id = "testC" class = "com.hq.bean.TestC">
		<constructor-arg index="0" ref="testA"/>
	</bean>-->
</beans>